In [1]:
import os
import numpy as np
import pandas as pd

from indicators import get_momentum_strategy
from utils import load_data

In [2]:
data_df = load_data("data/Bitfinex_BTCUSD_1h_2019")
data_df.head()

            date     Open    High     Low    Close      Volume
0  1/1/2019 0:00  3830.50  3846.2  3822.4  3835.16  1032854.96
1  1/1/2019 1:00  3835.16  3840.1  3819.0  3829.15  1440314.68
2  1/1/2019 2:00  3829.15  3834.2  3810.2  3817.40  1624863.73
3  1/1/2019 3:00  3817.40  3832.3  3817.3  3828.40   676778.97
4  1/1/2019 4:00  3828.40  3844.9  3824.5  3825.00  1179209.23