In [1]:
import os
import numpy as np
import pandas as pd

from indicators import get_momentum_strategy
from utils import load_data

In [2]:
# data_df = load_data("data/Bitfinex_BTCUSD_1h_2019")
data_df = load_data("data/Bitfinex_BTCUSD_1h", strategy=get_momentum_strategy())
# data_df = load_data("data/Bitfinex_BTCUSD_1h_2019", strategy=get_momentum_strategy())

[i] Runtime: 3809.0355 ms (3.8090 s)

In [3]:
# data_df.dropna(inplace=True)
# data_df.reset_index(inplace=True)
data_df

,Date,Open,High,Low,Close,Volume,AO_5_34,APO_12_26,BIAS_SMA_26,BOP,...,STOCHk_14_3_3,STOCHd_14_3_3,STOCHRSIk_14_14_3_3,STOCHRSId_14_14_3_3,TRIX_30_9,TRIXs_30_9,TSI_13_25_13,TSIs_13_25_13,UO_7_14_28,WILLR_14
0,15/5/2018 6:00,8723.80000,8793.0,8714.9,8739.00000,8.988054e+06,NaN,NaN,NaN,0.194622,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15/5/2018 7:00,8739.00000,8754.8,8719.3,8743.00000,2.288904e+06,NaN,NaN,NaN,0.112676,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15/5/2018 8:00,8743.00000,8743.1,8653.2,8723.70000,8.891773e+06,NaN,NaN,NaN,-0.214683,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15/5/2018 9:00,8723.70000,8737.8,8701.2,8708.10000,2.054868e+06,NaN,NaN,NaN,-0.426230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15/5/2018 10:00,8708.10000,8855.7,8695.8,8784.40000,1.730972e+07,NaN,NaN,NaN,0.477173,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36921,31/7/2022 20:00,23841.00000,23888.0,23776.0,23797.17102,1.470572e+06,-132.525492,4.253888,0.001188,-0.391330,...,49.886659,52.133377,84.134465,77.934314,0.022886,0.033084,-6.168892,-6.958406,48.949518,-49.739060
36922,31/7/2022 21:00,23800.00000,23818.0,23533.0,23584.00000,2.220693e+06,-139.242162,3.856452,-0.007226,-0.757895,...,43.476403,48.568372,60.152914,74.623049,0.020630,0.030422,-8.309833,-7.151467,45.205864,-75.360577
36923,31/7/2022 22:00,23581.00000,23581.0,23233.0,23376.78258,4.397721e+06,-181.309809,-10.640484,-0.015001,-0.586832,...,29.867353,41.076805,26.819581,57.035653,0.018090,0.027829,-12.488319,-7.913874,43.436130,-85.298305
36924,31/7/2022 23:00,23369.63184,23458.0,23278.0,23294.00000,1.003261e+07,-232.503926,-31.643350,-0.017588,-0.420177,...,15.192779,29.512178,0.064492,29.012329,0.015250,0.025260,-16.673863,-9.165301,40.511398,-93.762781
36925,1/8/2022 0:00,23291.00000,23391.0,23247.0,23372.23437,4.310948e+06,-304.536279,-56.376831,-0.013763,0.564128,...,11.725186,18.928439,7.141043,11.341705,0.012282,0.022687,-18.759557,-10.535909,42.033260,-85.763357