In [4]:
import os
import numpy as np
import pandas as pd

from indicators import get_momentum_strategy
from utils import load_data

In [5]:
data_df = load_data("data/Bitfinex_BTCUSD_1h_2019")
# data_df = load_data("data/Bitfinex_BTCUSD_1h_2019", strategy=get_momentum_strategy())

In [6]:
# data_df.dropna(inplace=True)
# data_df.reset_index(inplace=True)
data_df

                  date     Open     High     Low    Close      Volume
0        1/1/2019 0:00  3830.50  3846.20  3822.4  3835.16  1032854.96
1        1/1/2019 1:00  3835.16  3840.10  3819.0  3829.15  1440314.68
2        1/1/2019 2:00  3829.15  3834.20  3810.2  3817.40  1624863.73
3        1/1/2019 3:00  3817.40  3832.30  3817.3  3828.40   676778.97
4        1/1/2019 4:00  3828.40  3844.90  3824.5  3825.00  1179209.23
...                ...      ...      ...     ...      ...         ...
8754  31/12/2019 19:00  7173.90  7192.50  7166.8  7184.79  1233250.99
8755  31/12/2019 20:00  7184.79  7193.60  7177.1  7180.60   282179.34
8756  31/12/2019 21:00  7180.60  7199.39  7180.6  7197.40   653015.01
8757  31/12/2019 22:00  7197.40  7227.30  7193.6  7217.00  1333111.29
8758  31/12/2019 23:00  7217.00  7217.00  7199.0  7208.30  1092539.24

[8759 rows x 6 columns]